<app-navbar></app-navbar>

<div class="container">
  <h2>✏️ Modifier mon Profil</h2>

  <form (ngSubmit)="saveProfile()">
    <label>Nom :</label>
    <input type="text" [(ngModel)]="candidate.name" name="name" required>

    <label>Email :</label>
    <input type="email" [(ngModel)]="candidate.email" name="email" required>

    <label>Téléphone :</label>
    <input type="tel" [(ngModel)]="candidate.phone" name="phone" required>

    <label>Expérience :</label>
    <input type="text" [(ngModel)]="candidate.experience" name="experience" required>

    <label>Compétences :</label>
    <input type="text" [(ngModel)]="candidate.skills" name="skills" required>

    <!--<label>Documents</label>-->
    <!--<input type="file" (change)="onFileSelected($event)">-->
    <!--<button type="submit" class="btn btn-success">✅ Sauvegarder</button> -->
  </form>
  <label>Documents</label>
  <button class="btn bttn-success" (click)="viewdocs()"> Verifier </button>
  <h3>-------------------------------</h3>
  <form (ngSubmit)="saveProfile()">
    <button type="submit" class="btn btn-success">✅ Sauvegarder</button>
  </form>
</div>

<app-footer></app-footer>
