.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-success {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    width: 100%;
    margin-top: 15px;
  }
  .bttn-success {
    background: #3b82f6;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    width: 93%;
    margin-top: 15px;
  }
  
  .btn-success:hover {
    background: #218838;
    transform: scale(1.05);
  }
  .bttn-success:hover {
    background: #0055de;
    transform: scale(1.05);
  }
  